.movie{
    display: flex;
    flex-direction: column;
    h1{
        text-align: center;
    }
    &__container{
        margin: 10px 0;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        
    }
}