.card {

  color: #fff;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #252841;
  border-radius: 30px;
  padding: 1rem;
  img {
      max-width: 100%;
      width: 100%;
    }
  &__container {
     display: flex;
     flex-direction: column;
     text-align: center;
    
    &--button{
      background-color:  #8991d2;
      border: 2px solid  #8991d2;
      border-radius: 30px;
      padding: 1rem 0.6rem;
      text-align: center;
      font-size: 1.4rem;
      font-weight: bold;
      cursor: pointer;
      
      a{ color: #000;}
    }
    img , p, h2{
      margin-bottom: 1rem;
    }
   
    
}
}