.navbar {
  display: flex;
  padding-bottom: 15px;
  

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1rem;
    width: 100%;
    background-color: rgb(45, 7, 72);
    height: 50px;
    position: fixed;
    top: 0;
     h2{
        font-size: 1.2rem;
      }

    &--logo {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 90%;
      border: 1px solid #8991d2;
      border-radius: 10px;
      margin: 10px;
     
    }
    &--logo:hover {
      border: 1px solid #44486b;
      transition: 0.2s;
    }
    &--form {
      margin: 10px;
      display: flex;
      input {
        width: 100%;
        border: 3px solid #8991d2;
        height: 30px;
        border-radius: 5px 0 0 5px;
        background-color: #b5e4ea;
        outline: none;
        padding: 9px;
        color: #000;
      }
      button {
        height: 30px;
        border: 2px solid #8991d2;
        background: #8991d2;
        text-align: center;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 13px;
      }
    }
  }
}
